
body {
    background: #333 !important;
    color: white !important;
}
/* navbar */

html {
    scroll-behavior: smooth;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url(/images/homepage.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 77vh;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: 77vh; 
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
    padding-top: 200px; 
}

#home-section .card-form {
    margin-top: 1.5em;
    opacity: 0.8;
}

#home-section .fa,
#new-section .fa {
    color: #008ed6;
    background: #fff; 
    padding: 5px;
    border-radius: 5px; 
}

#search-section .fa,
#share-section .fa {
    background: #333; 
    color: #fff; 
    padding: 5px; 
    border-radius: 5px;
}
